$cellSize: 32;
$width: 10;
$height: 20;

:host {
  display: block;
  position: relative;
  width: #{$cellSize * $width}px;
  height: #{$cellSize * $height}px;
  box-shadow: 0px 0px 100px 6px rgba(0, 0, 0, 0.2);
  background: url('~/assets/cell.png');
  background-size: 32px;
}
