body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

$side: #7eb2d0;
$center: #89bde2;

body {
  background: rgb(37,141,200); /* Old browsers */
  background: -moz-linear-gradient(left, $side 0%, $center 50%, $side 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $side 0%,$center 50%,$side 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $side 0%,$center 50%,$side 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=1 ); /* IE6-9 */
}
